.suggestPost{
    position: relative;
}

.overlay {
    padding: 5px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    color: white;
    max-width: 300px;
    font-size: 11px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.onImg {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}

.onImgLeft {
    display: flex;
    gap: 5px;
}
.suggestPostContainer {
    display: flex;
    gap: 20px;
}

.suggestPostDesc {
    padding-top: 10px;
    max-width: 400px;
}
.suggestPostDesc span {
    color: #6C757D;
    font-size: 18px;
}
.suggestPostDesc h1 {
    line-height: 1;
}
.suggestPostDesc p {
    font-size: 14px;
    padding-top: 20px;
    font-weight: 600;
}