:root {
  --bg:white;
  --mainColor: #121416;
  --textColor:#6E6E6E;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    overflow-x: hidden; 
    color: var(--mainColor);
}
a {
    color: inherit;
    text-decoration: none;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wrapper {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px; 
}
.btn button { 
    padding: .75rem 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width:1536px) {
    .wrapper {
        max-width: 1366px;
    }
}

@media screen and (max-width:1280px) {
    .wrapper {
        max-width: 1024px;
    }
}

@media screen and (max-width:1024px) {
    .wrapper {
        max-width: 768px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width:768px) {
    .wrapper {
        max-width: 6406px;
    }
}

@media screen and (max-width:640px) {
    .wrapper {
        max-width: 475px;
    }
}