
/* Mobile 
@media (max-width: 700px) {
  
}
*/
/* Tablet and Smaller Desktop 
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}
*/

/* styles.css */ 


.posts { 
  display: flex; 
  gap: 20px; 
  flex-wrap: wrap;
  margin-top: 4rem;
}
.posts>div {
  flex: 1 1 calc(33.333% - 20px);
}
.loadBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadBtn button {
  background-color: #fff;
  height: 40px;
  width: 200px;
  cursor: pointer;
  margin-bottom: 4rem;
}