.footer {
    background-color: black;
    color:white;
    padding: 20px;
    margin-top: 120px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    
    align-items: center;
}
.footer-right{
    display: flex;
    gap: 10px;
}
.footer-icon p {
    margin-top: 5px;
}
.footer-left {
    display: flex;
    font-size: 20px;
} 
.footer-icon img {
    background: #fff;
}